<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
		
			<div class="form-group">
				<select [(ngModel)]="entity.pessoa" class="form-control" name="pessoa" required
					#pessoa="ngModel" [compareWith]="comparePessoa">
					<option *ngFor="let pessoa of pessoas"
						[ngValue]="pessoa">{{pessoa.nome}}</option>
				</select>
				<div [hidden]="!pessoa.pristine" class="alert alert-danger">Pessoa
					is required</div>
			</div>
		
			<div class="form-group">
				<label for="name">Tipo</label> <input type="text"
					[(ngModel)]="entity.tipo" class="form-control" id="tipo"
					name="tipo" placeholder="Enter your tipo" required #tipo="ngModel">
				<div [hidden]="!tipo.pristine" class="alert alert-danger">Tipo
					is required</div>
			</div>
			
			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
				
		</form>
	</div>
</div>