<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
		
			<div class="form-group">
				<label for="logradouro">Logradouro</label> <input type="text"
					[(ngModel)]="entity.logradouro" class="form-control" id="logradouro"
					name="logradouro" placeholder="Enter your logradouro" required #logradouro="ngModel">
				<div [hidden]="!logradouro.pristine" class="alert alert-danger">Logradouro
					is required</div>
			</div>
		
			<div class="form-group">
				<label for="numero">Número</label> <input type="text"
					[(ngModel)]="entity.numero" class="form-control" id="numero"
					name="numero" placeholder="Enter your número" required #numero="ngModel">
				<div [hidden]="!numero.pristine" class="alert alert-danger">Número
					is required</div>
			</div>
		
			<div class="form-group">
				<label for="complemento">Complemento</label> <input type="text"
					[(ngModel)]="entity.complemento" class="form-control" id="complemento"
					name="complemento" placeholder="Enter your complemento" required #complemento="ngModel">
				<div [hidden]="!complemento.pristine" class="alert alert-danger">Complemento
					is required</div>
			</div>
		
			<div class="form-group">
				<label for="bairro">Bairro</label> <input type="text"
					[(ngModel)]="entity.bairro" class="form-control" id="bairro"
					name="bairro" placeholder="Enter your bairro" required #bairro="ngModel">
				<div [hidden]="!bairro.pristine" class="alert alert-danger">Bairro
					is required</div>
			</div>
		
			<div class="form-group">
				<label for="cep">CEP</label> <input type="text"
					[(ngModel)]="entity.cep" class="form-control" id="cep"
					name="cep" placeholder="Enter your CEP" required #cep="ngModel">
				<div [hidden]="!cep.pristine" class="alert alert-danger">CEP
					is required</div>
			</div>
			
			<div class="form-group">
			    <label for="cidade">Cidade</label>
			    <input type="text" value="{{entity.cidade.nome}}/{{entity.cidade.estado.nome}}" class="form-control" name="estado"
					disabled />
			</div>
			
			<div class="form-group">
			    <label for="pessoa">Pessoa</label>
				<input type="text" value="{{entity.pessoa.nome}}" class="form-control" name="pessoa"
					disabled />
			</div>
			
			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
				
		</form>
	</div>
</div>