<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
		
			<div class="form-group">
				<label>Vestibular</label>
				<div>{{entity.vestibular.toString()}}</div>
			</div>
		
			<div class="form-group">
				<label>Estrutura Curricular</label>
				<div>{{entity.estruturaCurricular.toString()}}</div>
			</div>
		
			<div class="form-group">
				<label for="ano">Ano</label> <input type="text"
					[(ngModel)]="entity.ano" class="form-control" id="ano"
					name="ano" required #ano="ngModel">
				<div [hidden]="!ano.pristine" class="alert alert-danger">Ano
					pendente</div>
			</div>
			
			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
				
		</form>
	</div>
</div>