<div class="card my-5">
	<div class="card-body">
		<hr />
		<div *ngIf="entity">
			<div>
				<label><b>ID: </b></label> {{ entity.id }}
			</div>
			<div>
				<label><b>Ano: </b></label> {{ entity.ano }}
			</div>
			<div>
				<label><b>Vestibular: </b></label> {{ entity.vestibular.toString() }}
			</div>
			<div>
				<label><b>Estrutura Curricular: </b></label> {{ entity.estruturaCurricular.toString() }}
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button> <br>
	</div>
</div>