<h3 class="component-title">Visualizar Aula ID {{ entity.id }}</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<div class="form-row">
			<div class="form-group col-lg-6 col-md-12">
				<label>ID</label>
				<div>{{entity.id}}</div>
			</div>
			<div class="form-group col-lg-6 col-md-12">
				<label>Oferta de disciplina</label>
				<div>{{entity.ofertaDisciplina.toString()}}</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-lg-6 col-md-12">
				<label>Início</label>
				<div>{{ dateUtil.getStringFromDatetime(entity.inicio) }}</div>
			</div>
			<div class="form-group col-lg-6 col-md-12">
				<label>Término</label>
				<div>{{ dateUtil.getStringFromDatetime(entity.termino) }}</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-lg-12">
				<label>Participações de discentes:</label>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">CPF</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listSelectedParticipacaoAula">
							<td>{{ item.id }}</td>
							<td>{{ item.discente.vestibulando.usuario.nome }}</td>
							<td>{{ item.discente.vestibulando.cpf }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-row" *ngIf="canList()">
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
		</div>
	</div>
</div>