<div class="card my-5">
	<div class="card-body">
		<hr />
		<div *ngIf="entity">
			<div>
				<label>ID:</label><span>{{ entity.id }}</span>
			</div>
			<div>
				<label>Ano de início:</label><span>{{ entity.anoInicio }}</span>
			</div>
			<div>
				<label>Ano de término:</label><span>{{ entity.anoTermino }}</span>
			</div>
			<div>
				<label>Curso:</label><span>{{ entity.curso.toString() }}</span>
			</div>
			<div>
				<label>Disciplinas</label>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listSelectedDisciplina">
							<td>{{ item.id }}</td>
							<td>{{ item.nome }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button>
		<br>
	</div>
</div>