<h3 class="component-title">Listar Cursos</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entities">
		<a *ngIf="canAdd()" routerLink="/{{ routerPrefix }}/add"
			class="btn btn-success" style="margin-bottom: 10px">Novo</a>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Código</th>
					<th scope="col">Nome</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let entity of entities">
					<td>{{ entity.id }}</td>
					<td>{{ entity.codigo }}</td>
					<td>{{ entity.nome }}</td>
					<td><a *ngIf="canView()"
						routerLink="/{{ routerPrefix }}/view/{{ entity.id }}"
						class="btn btn-info">Ver</a> <a *ngIf="canEdit()"
						routerLink="/{{ routerPrefix }}/edit/{{ entity.id }}"
						class="btn btn-warning">Editar</a>
						<button *ngIf="canRemove()" (click)="askRemove(entity)"
							class="btn btn-danger">Remover</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>