<h3 class="component-title">Login</h3>
<div class="card my-5" id="loginCard" #loginCard>

	<div *ngIf="resultMessage" class="result-message">
		<div class="alert alert-danger fade show fixed">
			<h4>Erro</h4>
			{{resultMessage}}
			<button type="button" class="btn-close" aria-label="Close"
				(click)="closeResultMessage()"></button>
		</div>
	</div>

	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="cpf">Username</label> <input type="text"
						[(ngModel)]="usuario.username" class="form-control" id="username"
						name="username" required #username="ngModel">
				</div>
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="password">Password</label> <input type="password"
						[(ngModel)]="usuario.password" class="form-control" id="password"
						name="password" required #password="ngModel">
				</div>
			</div>

			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Login</button>
			</div>

			<div class="users">
				<h4>Logins</h4>
				<ul>
					<li>ADMIN -> admin01 - passadmin01</li>
					<li>GRADUACAO -> graduacao01 - passgraduacao01</li>
					<li>DOCENTE -> docente01 - passdocente01</li>
					<li>DISCENTE -> discente01 - passdiscente01</li>
				</ul>
			</div>
		</form>
	</div>
</div>