<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			>Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label for="ofertaDisciplina">Oferta de Curso</label> <select
						[(ngModel)]="entity.ofertaDisciplina" class="form-control"
						name="ofertaDisciplina" required #ofertaDisciplina="ngModel"
						[compareWith]="compareOfertaDisciplina">
						<option *ngFor="let ofertaDisciplina of listaOfertaDisciplina"
							[ngValue]="ofertaDisciplina">{{ofertaDisciplina.toString()}}</option>
					</select>
					<div [hidden]="!ofertaDisciplina.pristine"
						class="alert alert-danger">Oferta de disciplina pendente</div>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<label for="descricao">Descrição</label> <input type="text"
						[(ngModel)]="entity.descricao" class="form-control" id="descricao"
						name="descricao" required #descricao="ngModel">
					<div [hidden]="!descricao.pristine" class="alert alert-danger">Descrição
						pendente</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label for="inicio">Início</label> <input type="date"
						[ngModel]="entity.inicio | date:'yyyy-MM-dd'"
						(ngModelChange)="entity.inicio = dateUtil.getDateFromString($event)"
						class="form-control" id="inicio" name="inicio" required
						#inicio="ngModel">
					<div [hidden]="!inicio.pristine" class="alert alert-danger">Data
						hora de início pendente</div>
				</div>

				<div class="form-group col-lg-6 col-md-12">
					<label for="termino">Término</label> <input type="date"
						[ngModel]="entity.termino | date:'yyyy-MM-dd'"
						(ngModelChange)="entity.termino = dateUtil.getDateFromString($event)"
						class="form-control" id="termino" name="termino" required
						#termino="ngModel">
					<div [hidden]="!termino.pristine" class="alert alert-danger">Data
						hora de término pendente</div>
				</div>
			</div>

			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
					>Cancelar</a>
			</div>

		</form>
	</div>
</div>