
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li *ngIf="isVisibleMenu('HOME')" class="nav-item active"><a
				class="nav-link" href="#">Home <span class="sr-only">(current)</span>
			</a></li>
			<li *ngIf="isVisibleMenu('LOGIN')"><a routerLink="/login"
				class="nav-link">Login</a></li>
			<li *ngIf="isVisibleMenu('USER')"><a routerLink="/user"
				class="nav-link">Meu perfil</a></li>
			<li *ngIf="isVisibleMenu('LOGOUT')"><a routerLink="/logout"
				class="nav-link">LogOut</a></li>
			<li *ngIf="isVisibleMenu('PEDAGOGICO')" ngbDropdown
				class="nav-item dropdown"><a ngbDropdownToggle
				class="nav-link dropdown-toggle" id="dropdown01"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedagógico</a>
				<div ngbDropdownMenu class="dropdown-menu"
					aria-labelledby="dropdown01">
					<a *ngIf="isVisibleMenu('ITEM_CURSO')" class="dropdown-item"
						routerLink="/">Cursos</a> <a
						*ngIf="isVisibleMenu('ITEM_DISCIPLINA')" class="dropdown-item"
						routerLink="/">Disciplinas</a> <a
						*ngIf="isVisibleMenu('ITEM_ESTRUTURA_CURRICULAR')"
						class="dropdown-item" routerLink="/">Estruturas Curriculares</a> <a
						*ngIf="isVisibleMenu('ITEM_OFERTA_DISCIPLINA')"
						class="dropdown-item" routerLink="/">Ofertas de disciplinas</a> <a
						*ngIf="isVisibleMenu('ITEM_TURMA')" class="dropdown-item"
						routerLink="/">Turmas</a>
				</div></li>
			<li *ngIf="isVisibleMenu('VESTIBULAR')" ngbDropdown
				class="nav-item dropdown"><a ngbDropdownToggle
				class="nav-link dropdown-toggle" id="dropdown01"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vestibular</a>
				<div ngbDropdownMenu class="dropdown-menu"
					aria-labelledby="dropdown01">
					<a *ngIf="isVisibleMenu('ITEM_AVALIACAO_VESTIBULANDO')"
						class="dropdown-item" routerLink="/">Avaliações dos
						vestibulandos</a> <a *ngIf="isVisibleMenu('ITEM_OFERTA_CURSO')"
						class="dropdown-item" routerLink="/">Ofertas de cursos</a> <a
						*ngIf="isVisibleMenu('ITEM_VESTIBULANDO')" class="dropdown-item"
						routerLink="/">Vestibulandos</a> <a
						*ngIf="isVisibleMenu('ITEM_VESTIBULAR')" class="dropdown-item"
						routerLink="/">Vestibulares</a>
				</div></li>
			<li *ngIf="isVisibleMenu('GRADUACAO')" ngbDropdown
				class="nav-item dropdown"><a ngbDropdownToggle
				class="nav-link dropdown-toggle" id="dropdown01"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Graduação</a>
				<div ngbDropdownMenu class="dropdown-menu"
					aria-labelledby="dropdown01">
					<a *ngIf="isVisibleMenu('ITEM_AULA')" class="dropdown-item"
						routerLink="/">Aulas</a> <a
						*ngIf="isVisibleMenu('ITEM_AVALIACAO')" class="dropdown-item"
						routerLink="/">Avaliações</a> <a
						*ngIf="isVisibleMenu('ITEM_DISCENTE')" class="dropdown-item"
						routerLink="/">Discentes</a> <a
						*ngIf="isVisibleMenu('ITEM_DOCENTE')" class="dropdown-item"
						routerLink="/">Docentes</a> <a
						*ngIf="isVisibleMenu('ITEM_PARTICIPACAO_AULA')"
						class="dropdown-item" routerLink="/">Participações em aulas</a> <a
						*ngIf="isVisibleMenu('ITEM_PARTICIPACAO_AVALIACAO')"
						class="dropdown-item" routerLink="/">Participações em
						avaliações</a>
				</div></li>
		</ul>
	</div>


</nav>