<div class="card my-5">

	<div *ngIf="loading">loading...</div>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label>Oferta de Curso</label>
					<div>{{entity.ofertaCurso.toString()}}</div>
				</div>

				<div class="form-group col-lg-6 col-md-12">
					<label>Ofertas de disciplinas</label> <select multiple
						[(ngModel)]="listSelectedOfertaDisciplina" class="form-control"
						name="ofertaDisciplina" #ofertaDisciplina="ngModel"
						[compareWith]="compareOfertaDisciplina">
						<option *ngFor="let item of listOfertaDisciplina" [ngValue]="item">{{item.toString()}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
					style="margin-left: 10px">Cancelar</a>
			</div>

		</form>
	</div>
</div>