<div class="card my-5">
	<div class="card-body">
		<hr />
		<div *ngIf="entity">
			<div>
				<label>ID:</label><span>{{ entity.id }}</span>
			</div>
			<div>
				<label>Disciplina:</label><span>{{
					entity.disciplina.toString() }}</span>
			</div>
			<div>
				<label>Docente:</label><span>{{ entity.docente.toString() }}</span>
			</div>
			<div>
				<label>Turmas</label>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Oferta de curso</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listSelectedTurma">
							<td>{{ item.id }}</td>
							<td>{{ item.ofertaCurso.toString() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<label>Discentes</label>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Vestibulando</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listSelectedDiscente">
							<td>{{ item.id }}</td>
							<td>{{ item.vestibulando.toString() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button>
		<br>
	</div>
</div>