<div class="card my-5">

	<div *ngIf="loading">loading...</div>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-row">
				<div class="form-group col-lg-4 col-md-12">
					<label for="codigo">Código</label> <input type="text"
						[(ngModel)]="entity.codigo" class="form-control" id="codigo"
						name="codigo" required #codigo="ngModel">
					<div [hidden]="!codigo.pristine" class="alert alert-danger">Código
						pendente</div>
				</div>
				<div class="form-group col-lg-8 col-md-12">
					<label>Curso</label>
					<div>{{entity.curso.toString()}}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label for="anoInicio">Ano de início</label> <input type="text"
						[(ngModel)]="entity.anoInicio" class="form-control" id="anoInicio"
						name="anoInicio" required #anoInicio="ngModel">
					<div [hidden]="!anoInicio.pristine" class="alert alert-danger">Ano
						de início pendente</div>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<label for="anoTermino">Ano de término</label> <input type="text"
						[(ngModel)]="entity.anoTermino" class="form-control"
						id="anoTermino" name="anoTermino" required #anoTermino="ngModel">
					<div [hidden]="!anoTermino.pristine" class="alert alert-danger">Ano
						de término pendente</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-12">
					<label>Disciplinas</label> <select multiple
						[(ngModel)]="listSelectedDisciplina" class="form-control"
						name="disciplina" #disciplina="ngModel"
						[compareWith]="compareDisciplina">
						<option *ngFor="let item of listDisciplina" [ngValue]="item">{{item.toString()}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
					style="margin-left: 10px">Cancelar</a>
			</div>

		</form>
	</div>
</div>