<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-8 col-md-12">
					<label for="ofertaCurso">Oferta de Curso</label> <select
						[(ngModel)]="entity.ofertaCurso" class="form-control"
						name="ofertaCurso" required #ofertaCurso="ngModel"
						[compareWith]="compareOfertaCurso">
						<option *ngFor="let ofertaCurso of listaOfertaCurso"
							[ngValue]="ofertaCurso">{{ofertaCurso.toString()}}</option>
					</select>
					<div [hidden]="!ofertaCurso.pristine" class="alert alert-danger">Oferta
						de Curso pendente</div>
				</div>
				<div class="form-group col-lg-4 col-md-12">
					<label for="cpf">CPF</label> <input type="text"
						[(ngModel)]="entity.cpf" class="form-control" id="cpf" name="cpf"
						required #cpf="ngModel">
					<div [hidden]="!cpf.pristine" class="alert alert-danger">CPF
						pendente</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-8 col-md-12">
					<label for="nome">Nome</label> <input type="text"
						[(ngModel)]="entity.usuario.nome" class="form-control" id="nome"
						name="nome" required #nome="ngModel">
					<div [hidden]="!nome.pristine" class="alert alert-danger">Nome
						pendente</div>
				</div>
				<div class="form-group col-lg-4 col-md-12">
					<label for="dataNascimento">Data de Nascimento</label> <input
						type="date" [ngModel]="entity.dataNascimento | date:'yyyy-MM-dd'"
						(ngModelChange)="entity.dataNascimento = dateUtil.getDateFromString($event)"
						class="form-control" id="dataNascimento" name="dataNascimento"
						required #dataNascimento="ngModel">
					<div [hidden]="!dataNascimento.pristine" class="alert alert-danger">Data
						de nascimento pendente</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label for="endereco">Endereço</label>
					<textarea [(ngModel)]="entity.endereco" class="form-control"
						id="endereco" name="endereco" rows="5" required
						#endereco="ngModel"></textarea>
					<div [hidden]="!endereco.pristine" class="alert alert-danger">Endereço
						pendente</div>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<label for="telefones">Telefones</label>
					<textarea [(ngModel)]="entity.telefones" class="form-control"
						id="telefones" name="telefones" rows="5" required
						#telefones="ngModel"></textarea>
					<div [hidden]="!telefones.pristine" class="alert alert-danger">Telefones
						pendentes</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-12">
					<label for="avaliacao">Preencher avaliação agora?</label> <input
						type="checkbox" [(ngModel)]="preencherAvaliacao" id="avaliacao"
						name="avaliacao" #avaliacao="ngModel">
				</div>
			</div>

			<fieldset *ngIf="preencherAvaliacao">
				<legend>Avaliação</legend>
				<div class="form-row">
					<div class="form-group col-lg-3 col-md-12">
						<label for="conceitoBiologicas">Conceito Biológicas</label> <input
							type="number" step=".01"
							[(ngModel)]="avaliacaoVestibulando.conceitoBiologicas"
							class="form-control" id="conceitoBiologicas"
							name="conceitoBiologicas" required #conceitoBiologicas="ngModel">
						<div [hidden]="!conceitoBiologicas.pristine"
							class="alert alert-danger">Conceito Biológicas pendente</div>
					</div>
					<div class="form-group col-lg-3 col-md-12">
						<label for="conceitoExatas">Conceito Exatas</label> <input
							type="number" step=".01"
							[(ngModel)]="avaliacaoVestibulando.conceitoExatas"
							class="form-control" id="conceitoExatas" name="conceitoExatas"
							required #conceitoExatas="ngModel">
						<div [hidden]="!conceitoExatas.pristine"
							class="alert alert-danger">Conceito Exatas pendente</div>
					</div>
					<div class="form-group col-lg-3 col-md-12">
						<label for="conceitoHumanas">Conceito Humanas</label> <input
							type="number" step=".01"
							[(ngModel)]="avaliacaoVestibulando.conceitoHumanas"
							class="form-control" id="conceitoHumanas" name="conceitoHumanas"
							required #conceitoHumanas="ngModel">
						<div [hidden]="!conceitoHumanas.pristine"
							class="alert alert-danger">Conceito Humanas pendente</div>
					</div>
					<div class="form-group col-lg-3 col-md-12">
						<label for="conceitoFinal">Conceito Final</label> <input
							type="number" step=".01"
							[(ngModel)]="avaliacaoVestibulando.conceitoFinal"
							class="form-control" id="conceitoFinal" name="conceitoFinal"
							required #conceitoFinal="ngModel">
						<div [hidden]="!conceitoFinal.pristine" class="alert alert-danger">Conceito
							Final pendente</div>
					</div>
				</div>
			</fieldset>

			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a *ngIf="canList()" routerLink="/{{ routerPrefix }}/list"
					class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
</div>