<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<div class="form-row">
			<div class="form-group col-lg-2 col-md-12">
				<label>ID</label>
				<div>{{entity.id}}</div>
			</div>
			<div class="form-group col-lg-5 col-md-12">
				<label>Aula:</label>
				<div>{{ entity.aula.toString() }}</div>
			</div>
			<div class="form-group col-lg-5 col-md-12">
				<label>Discente:</label>
				<div>{{ entity.discente.toString() }}</div>
			</div>
		</div>
		<div class="form-row">
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
				style="margin-left: 10px">Voltar</a>
		</div>
	</div>
</div>