<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<div class="form-row">
			<div class="form-group col-lg-3 col-md-12">
				<label>ID</label>
				<div>{{entity.id}}</div>
			</div>
			<div class="form-group col-lg-3 col-md-12">
				<label>Conceito Final</label>
				<div>{{ entity.conceitoFinal }}</div>
			</div>
			<div class="form-group col-lg-6 col-md-12">
				<label>Vestibulando</label>
				<div>{{ entity.vestibulando.toString() }}</div>
			</div>
		</div>
		<div class="form-row" *ngIf="canList()">
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
		</div>
	</div>
</div>