<h3 class="component-title">Editar Aula ID {{ entity.id }}</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>

	<div *ngIf="resultMessage" class="result-message">
		<div class="alert alert-{{getResultClass()}} fade show fixed">
			<h4>{{getResultTitle()}}</h4>
			{{resultMessage}}
			<button type="button" class="btn-close" aria-label="Close"
				(click)="closeResultMessage()"></button>
		</div>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label>Oferta de disciplina</label>
					<div>{{entity.ofertaDisciplina.toString()}}</div>
				</div>
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="inicio">Início</label> <input type="datetime-local"
						[ngModel]="entity.inicio | date:'yyyy-MM-dd HH:mm:ss'"
						(ngModelChange)="entity.inicio = dateUtil.getDatetimeFromString($event)"
						class="form-control" id="inicio" name="inicio" required
						#inicio="ngModel">
				</div>

				<div class="form-group col-lg-3 col-md-12 required">
					<label for="termino">Término</label> <input type="datetime-local"
						[ngModel]="entity.termino | date:'yyyy-MM-dd HH:mm:ss'"
						(ngModelChange)="entity.termino = dateUtil.getDatetimeFromString($event)"
						class="form-control" id="termino" name="termino" required
						#termino="ngModel">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label>Discentes ausentes</label>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">CPF</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listNotSelectedDiscente; let i=index">
								<td>{{ item.vestibulando.usuario.nome }}</td>
								<td>{{ item.vestibulando.cpf }}</td>
								<td><button (click)="setDiscenteAsSelected(i)"
										class="btn btn-danger">&gt;</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<label>Discentes presentes</label>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nome</th>
								<th scope="col">CPF</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listSelectedDiscente; let i=index">
								<td><button (click)="setDiscenteAsNotSelected(i)"
										class="btn btn-danger">&lt;</button></td>
								<td>{{ item.vestibulando.usuario.nome }}</td>
								<td>{{ item.vestibulando.cpf }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a *ngIf="canList()" routerLink="/{{ routerPrefix }}/list"
					class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
</div>