<h3 class="component-title">Nova Oferta de Curso</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-4 col-md-12">
					<label for="codigo">Código</label> <input type="text"
						[(ngModel)]="entity.codigo" class="form-control" id="codigo"
						name="codigo" required #codigo="ngModel">
					<div [hidden]="!codigo.pristine" class="alert alert-danger">Código
						pendente</div>
				</div>
				<div class="form-group col-lg-8 col-md-12">
					<label for="estruturaCurricular">Estrutura Curricular</label> <select
						[(ngModel)]="entity.estruturaCurricular" class="form-control"
						name="estruturaCurricular" required #estruturaCurricular="ngModel"
						[compareWith]="compareEstruturaCurricular">
						<option
							*ngFor="let estruturaCurricular of listaEstruturaCurricular"
							[ngValue]="estruturaCurricular">{{estruturaCurricular}}</option>
					</select>
					<div [hidden]="!estruturaCurricular.pristine"
						class="alert alert-danger">Estrutura Curricular pendente</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-8 col-md-12">
					<label for="vestibular">Vestibular</label> <select
						[(ngModel)]="entity.vestibular" class="form-control"
						name="vestibular" required #vestibular="ngModel"
						[compareWith]="compareVestibular">
						<option *ngFor="let vestibular of listaVestibular"
							[ngValue]="vestibular">{{vestibular.toString()}}</option>
					</select>
					<div [hidden]="!vestibular.pristine" class="alert alert-danger">Vestibular
						pendente</div>
				</div>
				<div class="form-group col-lg-4 col-md-12">
					<label for="ano">Ano da oferta</label> <input type="text"
						[(ngModel)]="entity.ano" class="form-control" id="ano" name="ano"
						required #ano="ngModel">
					<div [hidden]="!ano.pristine" class="alert alert-danger">Ano
						da oferta pendente</div>
				</div>
			</div>
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a *ngIf="canList()" routerLink="/{{ routerPrefix }}/list"
					class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
</div>