<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-dark my-5">
				<div class="card-body">
					<h2 class="card-title text-center text-white py-3">{{ title }}</h2>
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active"><a class="nav-link" href="#">Home
										<span class="sr-only">(current)</span>
								</a></li>
								<li ngbDropdown class="nav-item dropdown"><a
									ngbDropdownToggle class="nav-link dropdown-toggle"
									id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">Cadastros</a>
									<div ngbDropdownMenu class="dropdown-menu"
										aria-labelledby="dropdown01">
										<a class="dropdown-item" routerLink="/categorias">Categorias</a>
										<a class="dropdown-item" routerLink="/cidades">Cidades</a>
										<a class="dropdown-item" routerLink="/clientes">Clientes</a>
										<a class="dropdown-item" routerLink="/enderecos">Endereços</a>
										<a class="dropdown-item" routerLink="/especies">Espécies</a>
										<a class="dropdown-item" routerLink="/estados">Estados</a>
										<a class="dropdown-item" routerLink="/pessoas">Pessoas</a>
										<a class="dropdown-item" routerLink="/pets">Pets</a>
										<a class="dropdown-item" routerLink="/produtos">Produtos</a>
										<a class="dropdown-item" routerLink="/racas">Raças</a>
									</div></li>
							</ul>
						</div>


					</nav>
				</div>
			</div>

			<router-outlet></router-outlet>
		</div>
	</div>
</div>