<div class="card my-5">
	<div class="card-body">
		<hr />
		<div *ngIf="entity">
			<div>
				<label><b>ID: </b></label> {{ entity.id }}
			</div>
			<div>
				<label><b>Oferta de Curso: </b></label> {{ entity.ofertaCurso.toString() }}
			</div>
			<div>
				<label><b>Ofertas de disciplinas: </b></label>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Disciplina</th>
							<th scope="col">Docente</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listSelectedOfertaDisciplina">
							<td>{{ item.id }}</td>
							<td>{{ item.disciplina.toString() }}</td>
							<td>{{ item.docente.toString() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button> <br>
	</div>
</div>