<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
		
			<div class="form-group">
			    <label for="pessoa">Pessoa</label> 
				<input type="text" value="{{entity.pessoa.nome}}" class="form-control" name="pessoa"
					disabled />
			</div>
		
			<div class="form-group">
				<label for="funcao">Função</label> 				
				<select [(ngModel)]="entity.funcao" class="form-control" name="funcao" required
					#funcao="ngModel">
					<option *ngFor="let item of funcionarioFuncao | keyvalue" [value]="item['key']">{{item['value']}}</option>
				</select>
				<div [hidden]="!funcao.pristine" class="alert alert-danger">Função
					is required</div>
			</div>
			
			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
				
		</form>
	</div>
</div>