<div class="card my-5">

	<div *ngIf="loading">loading...</div>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-8 col-md-12">
					<label for="vestibulando">Vestibulando</label> <select
						[(ngModel)]="entity.vestibulando" class="form-control"
						name="vestibulando" required #vestibulando="ngModel"
						[compareWith]="compareVestibulando">
						<option *ngFor="let vestibulando of listaVestibulando"
							[ngValue]="vestibulando">{{vestibulando.toString()}}</option>
					</select>
					<div [hidden]="!vestibulando.pristine" class="alert alert-danger">Vestibulando
						pendente</div>
				</div>
				<div class="form-group col-lg-4 col-md-12">
					<label for="conceitoFinal">Conceito Final</label> <input
						type="number" [(ngModel)]="entity.conceitoFinal"
						class="form-control" id="conceitoFinal" name="conceitoFinal"
						required #conceitoFinal="ngModel">
					<div [hidden]="!conceitoFinal.pristine" class="alert alert-danger">Conceito
						Final pendente</div>
				</div>
			</div>

			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
				style="margin-left: 10px">Cancelar</a>

		</form>
	</div>
</div>