<h3 class="component-title">Novo Docente</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>

	<div *ngIf="resultMessage" class="result-message">
		<div class="alert alert-{{getResultClass()}} fade show fixed">
			<h4>{{getResultTitle()}}</h4>
			{{resultMessage}}
			<button type="button" class="btn-close" aria-label="Close"
				(click)="closeResultMessage()"></button>
		</div>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">

			<div class="form-row">
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="cpf">CPF</label> <input type="text"
						[(ngModel)]="entity.docente.cpf" class="form-control" id="cpf"
						name="cpf" required #cpf="ngModel">
				</div>
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="nome">Nome</label> <input type="text"
						[(ngModel)]="entity.usuario.nome" class="form-control" id="nome"
						name="nome" required #nome="ngModel">
				</div>
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="dataNascimento">Data de Nascimento</label> <input
						type="date"
						[ngModel]="entity.docente.dataNascimento | date:'yyyy-MM-dd'"
						(ngModelChange)="entity.docente.dataNascimento = dateUtil.getDateFromString($event)"
						class="form-control" id="dataNascimento" name="dataNascimento"
						required #dataNascimento="ngModel">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-12 col-md-12 required">
					<label for="email">E-mail</label> <input type="text"
						[(ngModel)]="entity.usuario.email" class="form-control" id="email"
						name="email" required #email="ngModel">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="username">Username</label> <input type="text"
						[(ngModel)]="entity.usuario.username" class="form-control"
						id="username" name="username" required #username="ngModel">
				</div>
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="password">Password</label> <input type="password"
						[(ngModel)]="entity.usuario.password" class="form-control"
						id="password" name="password" required #password="ngModel">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="endereco">Endereço</label>
					<textarea [(ngModel)]="entity.docente.endereco"
						class="form-control" id="endereco" name="endereco" rows="5"
						required #endereco="ngModel"></textarea>
				</div>
				<div class="form-group col-lg-6 col-md-12 required">
					<label for="telefones">Telefones</label>
					<textarea [(ngModel)]="entity.docente.telefones"
						class="form-control" id="telefones" name="telefones" rows="5"
						required #telefones="ngModel"></textarea>
				</div>
			</div>

			<div class="form-row">
				<button type="submit" class="btn btn-success"
					[disabled]="!entityForm.form.valid" style="margin-right: 10px">Salvar</button>
				<a *ngIf="canList()" routerLink="/{{ routerPrefix }}/list"
					class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
</div>