<div class="card my-5">
	<div class="card-body">
		<hr />
		<div *ngIf="entity">
			<div>
				<label>ID:</label><span>{{ entity.id }}</span>
			</div>
			<div>
				<label>Início:</label><span>{{ entity.inicio }}</span>
			</div>
			<div>
				<label>Término:</label><span>{{ entity.termino }}</span>
			</div>
			<div>
				<label>Oferta de Disciplina:</label><span>{{
					entity.ofertaDisciplina.toString() }}</span>
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button>
		<br>
	</div>
</div>