<h3 class="component-title">Editar Avaliação de Vestibulando ID {{
	entity.id }}</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>

	<div *ngIf="resultMessage" class="result-message">
		<div class="alert alert-{{getResultClass()}} fade show fixed">
			<h4>{{getResultTitle()}}</h4>
			{{resultMessage}}
			<button type="button" class="btn-close" aria-label="Close"
				(click)="closeResultMessage()"></button>
		</div>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-row">
				<div class="form-group col-lg-12 col-md-12">
					<label>Vestibulando</label>
					<div>{{entity.vestibulando.toString()}}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="conceitoBiologicas">Conceito Biológicas</label> <input
						type="number" step=".01" [(ngModel)]="entity.conceitoBiologicas"
						class="form-control" id="conceitoBiologicas"
						name="conceitoBiologicas" required #conceitoBiologicas="ngModel">
				</div>
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="conceitoExatas">Conceito Exatas</label> <input
						type="number" step=".01" [(ngModel)]="entity.conceitoExatas"
						class="form-control" id="conceitoExatas" name="conceitoExatas"
						required #conceitoExatas="ngModel">
				</div>
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="conceitoHumanas">Conceito Humanas</label> <input
						type="number" step=".01" [(ngModel)]="entity.conceitoHumanas"
						class="form-control" id="conceitoHumanas" name="conceitoHumanas"
						required #conceitoHumanas="ngModel">
				</div>
				<div class="form-group col-lg-3 col-md-12 required">
					<label for="conceitoFinal">Conceito Final</label> <input
						type="number" step=".01" [(ngModel)]="entity.conceitoFinal"
						class="form-control" id="conceitoFinal" name="conceitoFinal"
						required #conceitoFinal="ngModel">
				</div>
			</div>
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a *ngIf="canList()" routerLink="/{{ routerPrefix }}/list"
					class="btn btn-danger">Cancelar</a>
			</div>

		</form>
	</div>
</div>