<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityAdd="ngForm">
			<div class="form-group">
				<label for="name">Nome</label> <input type="text"
					[(ngModel)]="entity.descricao" class="form-control" id="descricao"
					name="descricao" placeholder="Enter your name" required #name="ngModel">
				<div [hidden]="!name.pristine" class="alert alert-danger">Nome
					is required</div>
			</div>
			<button type="submit" [disabled]="!entityAdd.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
		</form>
	</div>
</div>