<h3 class="component-title">Visualizar Curso ID {{ entity.id }}</h3>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>

	<div *ngIf="resultMessage" class="result-message">
		<div class="alert alert-{{getResultClass()}} fade show fixed">
			<h4>{{getResultTitle()}}</h4>
			{{resultMessage}}
			<button type="button" class="btn-close" aria-label="Close"
				(click)="closeResultMessage()"></button>
		</div>
	</div>

	<div class="card-body" *ngIf="entity">
		<div class="form-row">
			<div class="form-group col-lg-2 col-md-12">
				<label>ID</label>
				<div>{{entity.id}}</div>
			</div>
			<div class="form-group col-lg-4 col-md-12">
				<label>Código:</label>
				<div>{{ entity.codigo }}</div>
			</div>
			<div class="form-group col-lg-6 col-md-12">
				<label>Nome:</label>
				<div>{{ entity.nome }}</div>
			</div>
		</div>
		<div class="form-row" *ngIf="canList()">
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
		</div>
	</div>
</div>