/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

label {
	font-weight: bold;
	margin-right: .7em;
}

legend {
	display: block;
	color: #842029;
	text-align: center;
	width: 100%;
}

a.btn, button.btn {
	margin-right: 10px;
}

#bodyCard {
	display: none;
}

.text-with-break-lines {
    white-space: pre-wrap;
}