<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entities">
		<a routerLink="/{{ routerPrefix }}/add" class="btn btn-success"
			style="margin-bottom: 10px">Novo</a>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">CPF</th>
					<th scope="col">Nome</th>
					<th scope="col">Data de nascimento</th>
					<th scope="col">Oferta de Curso</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let entity of entities">
					<td>{{ entity.id }}</td>
					<td>{{ entity.cpf }}</td>
					<td>{{ entity.usuario.nome }}</td>
					<td>{{ dateUtil.getStringFromDate(entity.dataNascimento) }}</td>
					<td>{{ entity.ofertaCurso.toString() }}</td>
					<td><a routerLink="/{{ routerPrefix }}/view/{{ entity.id }}"
						class="btn btn-info">Ver</a> <a
						routerLink="/{{ routerPrefix }}/edit/{{ entity.id }}"
						class="btn btn-warning">Editar</a>
						<button (click)="askRemove(entity)" class="btn btn-danger">Remover</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>