<div class="card my-5">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-group">
				<label for="nome">Nome</label> <input type="text"
					[(ngModel)]="entity.descricao" class="form-control" id="descricao"
					name="descricao" placeholder="Enter your name" required #descricao="ngModel">
				<div [hidden]="!descricao.pristine" class="alert alert-danger">Descrição
					is required</div>
			</div>
			<button type="submit" [disabled]="!entityForm.form.valid"
				class="btn btn-success" style="margin-right: 10px">Salvar</button>
			<button (click)="list()" type="button" class="btn btn-danger"
				style="margin-right: 10px">Cancelar</button>
		</form>
	</div>
</div>