<div class="card my-5">

	<div *ngIf="loading">loading...</div>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-row">
				<div class="form-group col-lg-2 col-md-12">
					<label for="codigo">Código</label> <input type="text"
						[(ngModel)]="entity.codigo" class="form-control" id="codigo"
						name="codigo" required #codigo="ngModel">
					<div [hidden]="!codigo.pristine" class="alert alert-danger">Código
						pendente</div>
				</div>
				<div class="form-group col-lg-5 col-md-12">
					<label>Disciplina</label>
					<div>{{entity.disciplina.toString()}}</div>
				</div>

				<div class="form-group col-lg-5 col-md-12">
					<label>Docente</label>
					<div>{{entity.docente.toString()}}</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label>Turmas</label> <select multiple
						[(ngModel)]="listSelectedTurma" class="form-control" name="turma"
						#turma="ngModel" [compareWith]="compareTurma">
						<option *ngFor="let item of listTurma" [ngValue]="item">{{item.toString()}}</option>
					</select>
				</div>

				<div class="form-group col-lg-6 col-md-12">
					<label>Discentes</label> <select multiple
						[(ngModel)]="listSelectedDiscente" class="form-control"
						name="discente" #discente="ngModel"
						[compareWith]="compareDiscente">
						<option *ngFor="let item of listDiscente" [ngValue]="item">{{item.toString()}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
					style="margin-left: 10px">Cancelar</a>
			</div>

		</form>
	</div>
</div>