<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status" #loader>
		<span class="sr-only"></span>
	</div>
</div>

<div class="card my-5" id="bodyCard" #bodyCard>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			>Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<form (ngSubmit)="onSubmit()" #entityForm="ngForm">
			<div class="form-row">
				<div class="form-group col-lg-4 col-md-12">
					<label for="codigo">Código</label> <input type="text"
						[(ngModel)]="entity.codigo" class="form-control" id="codigo"
						name="codigo" required #codigo="ngModel">
					<div [hidden]="!codigo.pristine" class="alert alert-danger">Código
						pendente</div>
				</div>
				<div class="form-group col-lg-8 col-md-12">
					<label>Oferta de Curso</label>
					<div>{{entity.ofertaCurso.toString()}}</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-6 col-md-12">
					<label>Ofertas de disciplinas disponíveis</label>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Disciplina</th>
								<th scope="col">Docente</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listNotSelectedOfertaDisciplina; let i=index">
								<td>{{ item.disciplina.toString() }}</td>
								<td>{{ item.docente.toString() }}</td>
								<td><button (click)="setOfertaDisciplinaAsSelected(i)"
										class="btn btn-danger">
										&gt;</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<label>Ofertas de disciplinas atribuídas</label>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Disciplina</th>
								<th scope="col">Docente</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listSelectedOfertaDisciplina; let i=index">
								<td><button (click)="setOfertaDisciplinaAsNotSelected(i)"
										class="btn btn-danger">
										&lt; </button></td>
								<td>{{ item.disciplina.toString() }}</td>
								<td>{{ item.docente.toString() }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="form-row">
				<button type="submit" [disabled]="!entityForm.form.valid"
					class="btn btn-success" style="margin-right: 10px">Salvar</button>
				<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
					>Cancelar</a>
			</div>

		</form>
	</div>
</div>