<div class="card my-5">

	<div *ngIf="loading">loading...</div>
	<div *ngIf="errorMessage" class="alert alert-danger">
		<strong>Erro!</strong> {{errorMessage}} <a
			routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
			style="margin-left: 10px">Voltar</a>
	</div>

	<div class="card-body" *ngIf="entity">
		<div class="form-row">
			<div class="form-group col-lg-4 col-md-12">
				<label>ID</label>
				<div>{{entity.id}}</div>
			</div>
			<div class="form-group col-lg-8 col-md-12">
				<label>Oferta de Curso:</label>
				<div>{{ entity.ofertaCurso.toString() }}</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-lg-4 col-md-12">
				<label>CPF:</label>
				<div>{{ entity.cpf }}</div>
			</div>
			<div class="form-group col-lg-8 col-md-12">
				<label>Nome:</label>
				<div>{{ entity.nome }}</div>
			</div>
		</div>
		<div class="form-row">
			<a routerLink="/{{ routerPrefix }}/list" class="btn btn-danger"
				style="margin-left: 10px">Voltar</a>
		</div>
	</div>
</div>