<div class="card my-5">
	<div class="card-body">
		<div *ngIf="entity">
			<div class="form-row">
				<div class="form-group col-lg-3 col-md-12">
					<label>ID</label>
					<div>{{entity.id}}</div>
				</div>
				<div class="form-group col-lg-9 col-md-12">
					<label>Vestibulando:</label>
					<div>{{ entity.vestibulando.toString() }}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-12">
					<label>Ofertas de disciplinas</label>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Disciplina</th>
								<th scope="col">Docente</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listSelectedOfertaDisciplina">
								<td>{{ item.id }}</td>
								<td>{{ item.disciplina.toString() }}</td>
								<td>{{ item.docente.toString() }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<button (click)="list()" type="button" class="btn btn-danger"
			style="margin-right: 10px">Voltar</button>
		<br>
	</div>
</div>